<?xml version="1.0" encoding="UTF-8"?>
<Server port="9005" shutdown="SHUTDOWN">
	<Listener SSLEngine="on" className="org.apache.catalina.core.AprLifecycleListener" />
	<Listener className="org.apache.catalina.core.JasperListener" />
	<Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
	<Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
	<Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

	<GlobalNamingResources>
		<Resource auth="Container" description="User database that can be updated and saved" factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
			name="UserDatabase" pathname="conf/tomcat-users.xml" type="org.apache.catalina.UserDatabase" />
	</GlobalNamingResources>

	<Service name="Catalina">
		<Connector connectionTimeout="20000" port="8080" protocol="HTTP/1.1" redirectPort="8443" />

		<Connector port="8443" maxThreads="150" minSpareThreads="25" maxSpareThreads="75" enableLookups="false"
			disableUploadTimeout="true" acceptCount="100" scheme="https" secure="true" clientAuth="false" sslProtocol="TLS"
			SSLEnabled="true" />

		<Connector port="8009" protocol="AJP/1.3" redirectPort="8443" />
		<Engine defaultHost="localhost" name="Catalina">
			<Realm className="org.apache.catalina.realm.LockOutRealm">
				<Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase" />
			</Realm>
			<Host appBase="webapps" autoDeploy="true" name="localhost" unpackWARs="true">
				<Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
					pattern="%h %l %u %t &quot;%r&quot; %s %b" prefix="localhost_access_log." suffix=".txt" />

				<Context docBase="/home/dburgan/work/Marketing/Marketing Site" path="" />

				<Context crossContext="false" debug="1" docBase="/home/dburgan/work/1/Tomcat_PA/WebRoot" fileEncoding="utf8" path="/pa" reloadable="false">
					<Logger className="org.apache.catalina.logger.FileLogger" prefix="pa_log." suffix=".txt" timestamp="true" verbosity="1" />
					<Environment name="inProduction" type="java.lang.String" value="false" />
					<Environment name="inStaging" type="java.lang.String" value="false" />
					<Environment name="inDevelopment" type="java.lang.String" value="true" />
					<Environment name="developmentTestEmail" type="java.lang.String" value="cephalo22@gmail.com" />
					<Environment name="developmentForceEmailsToSend" type="java.lang.String" value="true" />
					<Environment name="showStackTraces" type="java.lang.Boolean" value="true" />
					<Environment name="marketingSiteTag" type="java.lang.String" value="site" />
					<Environment name="applicationTag" type="java.lang.String" value="pa" />
					<Environment name="turnOffProcessThreadsOnDevelopment" type="java.lang.String" value="false" />
					<Environment name="siteURL" type="java.lang.String" value="http://localhost:8080" />
					<Environment name="siteBasePath" type="java.lang.String" value="/home/dburgan/work/Marketing/Marketing Site" />
					<Environment name="reportURL" type="java.lang.String" value="http://localhost:8080/" />
					<Environment name="reportBasePath" type="java.lang.String" value="/home/bstevens/workspace" />
					<Environment name="databaseUpdatesPath" type="java.lang.String" value="/home/bstevens/workspace" />

					<Environment name="databaseURL" type="java.lang.String" value="jdbc:sqlserver://10.48.24.77:1433;DatabaseName=panswersBeth" />
				       <Environment name="database2URL" type="java.lang.String" value="jdbc:sqlserver://10.48.24.77:1433;DatabaseName=panswersBeth" />
					<Environment name="databaseUser" type="java.lang.String" value="common" />
					<Environment name="databasePassword" type="java.lang.String" value="xxxPA50" />

					<Environment name="jdbc.dbDriverName" type="java.lang.String" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
					<Environment name="canSwitchProtocols" type="java.lang.String" value="false" />
					<Environment name="useStubWebServicesLayer" type="java.lang.String" value="true" />
					<Environment name="userBasePath" type="java.lang.String" value="/home/bstevens/workspace" />
					<Environment name="systemUserBasePath" type="java.lang.String" value="/home/bstevens/workspace" />
					<Environment name="cryptographyKey" type="java.lang.String" value="InEvLnRgAePAzUuOglqiQg==" />
					<Environment name="cryptographyKey256" type="java.lang.String" value="InEvLnRgAePAzUuOglqiQg==" />
					<Environment name="pgpSecretKeyRingFile" type="java.lang.String" value="/home/dburgan/work/.gnupg/secring.gpg" />
					<Environment name="pgpSecretKeyPassword" type="java.lang.String" value="peopleanswers" />
					<Environment name="log4JPropertyFileName" type="java.lang.String" value="/home/bstevens/bethrepo/log4j.properties" />
					<Environment name="legacyServicesSecurityToken" type="java.lang.String" value="6qFUm0zxtcNG0W4YJBfEToKrw9Gz1sGYbRLahLypbecNdF5QlKouzckTnV09y3NH" />
					<Environment name="restrictedLoginCryptographyKey256" type="java.lang.String" value="dDKul2Qp1hiSHlFDNXxCdE4rtTAae9vob71MBoxWm0Y=" />

					<!-- below are the lines useful in setting up multi-node tests -->
					<Environment name="httpPortNumber" type="java.lang.Integer" value="8080" />
					<Environment name="httpsPortNumber" type="java.lang.Integer" value="8443" />
					<Environment name="useReportServer" type="java.lang.String" value="true" />
					<Environment name="datagridIPAddress" type="java.lang.String" value="230.64.4.1" />
					<Environment name="datagridPort" type="java.lang.Integer" value="45228" />
					<Environment name="dataGridNoLazyLoad" type="java.lang.Boolean" value="false" />
					<Environment name="loadTestDataGrid" type="java.lang.Boolean" value="false" />
					<Environment name="bindRMINames" type="java.lang.String" value="false" />
					<Environment name="includeServerNameInRMINaming" type="java.lang.Boolean" value="false" />
					<Environment name="grabPrimaryServer" type="java.lang.String" value="false" />
					<Environment name="canBePrimaryServer" type="java.lang.String" value="false" />
					<Environment name="grabReportServer" type="java.lang.String" value="false" />
					<Environment name="canBeReportServer" type="java.lang.String" value="false" />

					<!-- blofeld settings -->
					<Environment name="remoteFileStoreCryptographyKey256" type="java.lang.String" value="HyzVYAgFn3CWG7imtuzmxPBVEjA3IH01J8saQz6RtII=" />
					<Environment name="remoteFileStoreClusterName" type="java.lang.String" value="blofeld" />
					<Environment name="remoteFileStoreAuthenticationToken" type="java.lang.String" value="catfox" />
					<Environment name="remoteFileStoreIpAddress1" type="java.lang.String" value="nucleus" />
					<Environment name="remoteFileStorePort1" type="java.lang.Integer" value="6811" />
					<Environment name="remoteFileStoreIpAddress2" type="java.lang.String" value="nucleus" />
					<Environment name="remoteFileStorePort2" type="java.lang.Integer" value="6811" />
					<Environment name="useSubstituteFiles" type="java.lang.String" value="true" />

					<!-- cassandra settings -->
					<Environment name="cassandraServer1" type="java.lang.String" value="nucleus" />
					<Environment name="cassandraServer2" type="java.lang.String" value="nucleus" />
					<Environment name="cassandraPort" type="java.lang.Integer" value="9042" />
					<Environment name="cassandraKeyspace" type="java.lang.String" value="pa" />
					<Environment name="cassandraCryptographyKey" type="java.lang.String" value="zu613V2CRGXvGL1KvB5MqN1D6dEGefMlyZ1atpcuBHY=" />

					<!-- settings for new architecture -->
					<Environment name="integrateWithNewArchitecture" type="java.lang.Boolean" value="true" />
					<Environment name="forceAllTestingToUseMobile" type="java.lang.Boolean" value="false" />
					<Environment name="timeBasedOneTimeCodeGeneratorKey" type="java.lang.String" value="fc26ce20a3505c751b9711b5b5771da13eaec9bc" />
					<Environment name="mobileUrlPrefix" type="java.lang.String" value="https://localhost:9443/pa-testing-web" />
					<Environment name="messageBrokerActive" type="java.lang.Boolean" value="true"/>
					<Environment name="messageBrokerHostName1" type="java.lang.String" value="nucleus"/>
					<Environment name="messageBrokerHostName2" type="java.lang.String" value="nucleus"/>
					<Environment name="messageBrokerPort" type="java.lang.Integer" value="5672"/>
					<Environment name="messageBrokerUserName" type="java.lang.String" value="pa"/>
					<Environment name="messageBrokerPassword" type="java.lang.String" value="catfox"/>
					<Environment name="cacheBridgeLoadTest" type="java.lang.Boolean" value="false"/>
					<Environment name="sharedDataMulticastAddr" type="java.lang.String" value="230.64.4.5"/>
					<Environment name="sharedDataMulticastPort" type="java.lang.String" value="45228"/>
					<Environment name="sharedInternalDataMulticastAddr" type="java.lang.String" value="230.64.4.6"/>
					<Environment name="sharedInternalDataMulticastPort" type="java.lang.String" value="45228"/>
					<Environment name="virtualCompanyUrlPrefix" type="java.lang.String" value="https://localhost:9443/pa-company-web"/>

					<!-- settings for shared session cache -->
					<Environment name="memcachedServerPort1" type="java.lang.String" value="nucleus:11211"/>
					<Environment name="memcachedServerPort2" type="java.lang.String" value=""/>

				</Context>
			</Host>
		</Engine>
	</Service>
</Server>
